*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
*.bak 
*.mtc
build/
aux/

# Rezeptig-specific files and folders
.recipes
.recipes_build
recipebook_build.tex
recipebook_build.pdf
recipes/
